$off-color: #66555a;
$on-color: #e03963;
$border-color: #2c2a2b;
$border-color-on: #962b46;

.noteButton {
  height: 4rem;
  width: 4rem;
  background-color: $off-color;
  border: 2px solid $border-color;

  &:hover {
    background-color: $off-color;
  }
}

.active {
  background-color: $on-color;

  &:hover {
    background-color: $on-color;
  }
}

.playing {
  box-shadow: 0 0 10px 5px $on-color;
  border: 2px solid $border-color-on;
}
